html, body {
    height: 100%;
}

#output {
    opacity: 0.9;
}
.panel {
	color: #555;
}
h1,h2,h3,h4,h5,h6,.panel th {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

pre {
	line-height: 1.0;
}

footer {
    margin-top: 60px;
    text-align: center;
    margin: 0 auto;
}


